#footer{
	width: 100%;
	height: auto;
	line-height: 25px;
}
.promotion-parallax
{
	margin-top: 50px;
	background-color: #036;
	margin-left: 125px;
	margin-right: 125px;	
	box-sizing: border-box;
	height: 150px;
	margin-bottom: 50px;
	position: relative;
	color: white;
}
.email-promotion
{
	float: left;
	position: absolute;
	top: 7.5px;
	left: -30px;
}
.sub-promotion
{
	position: relative;
	left: 200px;
	width: 500px;
	padding-top: 10px;
}
/*.subscription-form
{
	float: right;
}*/
.sub-button
{
	border-radius: 8px;
	font-size: 15px;
	background-color: #ffe100;
}
.commitment
{
	
	margin-left: 125px;
	margin-right: 125px;
	margin-bottom: 50px;
	height: 100px;
	box-sizing: border-box;
}
.commitment-box1
{
	float: left;
	width: 285px;
	height: 100px;
	margin-right: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
	border-radius: 6px;
}
.commitment-box2
{
	float: left;
	width: 288px;
	height: 100px;
	margin-right: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
	line-height: 20px;
	border-radius: 6px;
}
.commitment-box3
{
	float: left;
	width: 285px;
	height: 100px;
	margin-right: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
	border-radius: 6px;
}
.commitment-box4
{
	float: left;
	width: 285px;
	height: 100px;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
	border-radius: 6px;
}
.commitment img
{
	float: left;
	padding-right: 10px;
}
.commitment span
{
	text-align: left;
	text-transform:uppercase;
}
.commitment p
{
	text-align:left;
}
.subscription-form
{
	position: absolute;
	bottom: 100px;
	right: 0;
}
.container-footer
{
	background-color: #036;
	/*padding-left: 125px;
	padding-right: 125px;*/
	height: 400px;
	width: 100%;
	color: black;
	color: white;
}
.container-footer ul
{
	list-style-type: none;
	padding-left: 0px;
}

.container-footer a
{
	text-decoration: none;
	color: white;
}
.row1
{
	float: left;
	width: 500px;
	box-sizing: border-box;
	margin-left: 125px;
	margin-right: 40px;
	padding-top: 20px;
}
.logo-row1
{
	margin-bottom: 20px;
}
.row2
{
	float: left;
	margin-right: 40px;
	padding-top: 20px;
}
.dichvu
{
	margin-bottom: 50px;
}
.row3
{
	float: left;
	margin-right: 50px;
	padding-top: 20px;
}
.row4
{
	float: left;
	margin-right: 40px;
	padding-top: 20px;
	width: 150px;
}
.copyright
{
	width: 100%;
	height: auto;
	background-color: #CEDB90;
	color: black;
	/*margin: 0;*/
}